@model PokeSharp.Models.Pokemon.PokemonViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="details">
    <div class="img-details">
        @if(Model.Sprites.Other.OfficialArtwork.FrontDefault == null)
        {
            <img id="listpoke" src="~/images/interrogacao.png" />
        }else{
            <img id="listpoke" src="@Model.Sprites.Other.OfficialArtwork.FrontDefault" />
        }
    </div>
    <div class="info-details">
        <h1>@Model.Name</h1>
        @foreach (var types in Model.Types)
        {
            <img src="~/images/types/@(types.Type.Name).png">
            <a href="@types.Type.Url" >@types.Type.Name</a>
        }
        
    </div>
</div>
<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
    </dl>
</div>
@foreach (var item in Model.Abilities) {
    <div class="info">
        <p>@Html.DisplayNameFor(modelitem => item.Ability.Name)</p>
        <p>@Html.DisplayFor(modelItem => item.Ability.Name)</p>

        @*<a asp-action="Details" asp-route-id="@item.Id">Datalhes</a>*@
    </div>
}
<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>
