@model PokeSharp.Models.Pokemon.PokeListViewModel

@{
    ViewData["Title"] = "PokeSharp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pokemons</h1>

<p>
    @ViewBag.Page
</p>

<form asp-action="Index" method="get">
    <div>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="pesquisar Pokemon" />
        <input type="submit" value="Pesquisar" />
        <a asp-action="Index">Home</a>
    </div>
</form>
<div class="wrapper">
    @foreach (var item in Model.Pokemons) {
        <div>
            <img src="@item.Img" />
            <div class="info">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
</div>
@{
    //var offsetPrev = !(Model.Previous == null) ? Model.Previous.Query : "";
    //var offsetNex = !(Model.Next == null) ? Model.Next.Query : "";

    var prevDisabled = (ViewBag.Page <= 1) ? "disabled" : "";
    var nextDisabled = (ViewBag.Page == 0) ? "disabled" : "";
}
<div class="pag">
    <a asp-action="Index"
    asp-route-page="@(ViewBag.Page - 1)" class="btn @prevDisabled">Anterior</a>

    <a asp-action="Index"
    asp-route-page="@(ViewBag.Page + 1)" class="btn @nextDisabled">Próximo</a>
</div>