@model PokeSharp.Models.Pokemon.PokeList

@{
    ViewData["Title"] = "PokeSharp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pokemons</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
@{ int count = 0; }
<div class="wrapper">
    @foreach (var item in Model.Pokemons) {
        <div>
            <img src="@ViewBag.imgUrl[count++]" />
            <div class="info">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                <a href="@item.Url">Detalhes</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
            
            @*<a asp-action="Details" asp-route-id="@item.">Details</a>*@
        </div>
    }
</div>