@model PokeSharp.Models.Pokemon.PokeListViewModel

@{
    ViewData["Title"] = "PokeSharp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pokemons</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    @ViewBag.teste;
</p>
<p>@ViewBag.teste2;</p>
<form asp-action="Index" method="get">
    <div>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="pesquisar Pokemon" />
        <input type="submit" value="Pesquisar" />
        <a asp-action="Index">Home</a>
    </div>
</form>
@{ int count = 0; }
<div class="wrapper">
    @foreach (var item in Model.Pokemons) {
        <div>
            <img src="@ViewBag.imgUrl[count++]" />
            <div class="info">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                @*<a href="@item.Url">Detalhes</a>*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
            
            @*<a asp-action="Details" asp-route-id="@item.">Details</a>*@
        </div>
    }
</div>