@model PokeSharp.Models.Pokemon.PokeListViewModel

@{
    ViewData["Title"] = "PokeSharp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pokemons</h1>

<div class="wrapper">
    @foreach (var item in Model.Pokemons) {
        <div>
            @if(item.Img == null)
            {
                <img id="listpoke" src="~/images/interrogacao.png" />
            }else{
                <img id="listpoke" src="@item.Img" />
            }
           
            <div class="info">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                <a asp-action="Details" asp-route-id="@item.Id">Datalhes</a>
            </div>
        </div>
    }
</div>
@{
    var prevDisabled = (ViewBag.Page <= 1) ? "disabled" : "";
    var nextDisabled = (ViewBag.Page * ViewBag.limit >= 1118) ? "disabled" : "";
}
<div class="pag @ViewBag.Hidden">
    <a asp-action="Index"
    asp-route-page="@(ViewBag.Page - 1)" class="btn @prevDisabled">Anterior</a>

    <a asp-action="Index"
    asp-route-page="@(ViewBag.Page + 1)" class="btn @nextDisabled">Próximo</a>
</div>