@model PokeSharp.Models.Pokemon.PokeListViewModel

@{
    ViewData["Title"] = "PokeSharp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pokemons</h1>

<p>
    @ViewBag.teste
</p>
<p>
    @ViewData["Offset"]
    @ViewBag.Page
</p>
<p>@ViewBag.teste2</p>
<form asp-action="Index" method="get">
    <div>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="pesquisar Pokemon" />
        <input type="submit" value="Pesquisar" />
        <a asp-action="Index">Home</a>
    </div>
</form>
@{ int count = 0; }
<div class="wrapper">
    @foreach (var item in Model.Pokemons) {
        <div>
            <img src="@ViewBag.imgUrl[count++]" />
            <div class="info">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                @*<a href="@item.Url">Detalhes</a>*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
</div>
@{
    //string offsetPrev = "";
    //string offsetNex = "";
    //string nextDisabled = "";
    if(!(Model.Previous == null))
    {
        //ViewBag.Offset = Model.Previous.Query;
    }
    if(!(Model.Next == null))
    {
        ViewBag.Offset = Model.Next.Query;
    }

    var prevDisabled = (Model.Previous == null) ? "disabled" : "";
    var nextDisabled = (Model.Next == null) ? "disabled" : "";
}
<div class="pag">
    <a asp-action="Index"
    asp-route-offset="@ViewBag.Offset"
    asp-route-page="@(ViewBag.Page - 1)" value="" class="btn @prevDisabled">Anterior</a>

    <a asp-action="Index"
    asp-route-offset=""
    asp-route-page="@(ViewBag.Page + 1)" value="@ViewData["Offset"]" class="btn @nextDisabled">Próximo</a>
</div>